$bg-color: whitesmoke;
$bg-color_dark: black;
$bg-color_dark2: gray;
$header-color: white;
$humberger-bg-color: rgba(0, 0, 0, .6);
$bg-color2: #fff;
$text-color: #deb887;
$text-color2: dimgray;
$text-color3: darkgoldenrod;
$text-color4: black;
$text-color_dark: white;
$text-color_dark2: silver;
$text-color-article: #383838;
$hover-color: #fff;
$hover-bg-color: tan;


$f__input_bg-color: rgb(100, 100, 100);