@mixin btn_a ($color:$text-color){
    a {
      display: inline-block;
      @media screen and (min-width: $sp-width){
          position: relative;
          display: inline-block;
          text-decoration: none;
        }
      }
      a::after {
        @media screen and (min-width: $sp-width){
          position: absolute;
          bottom: -4px;
          left: 0;
          content: '';
          width: 100%;
          height: 2px;
          background: $color;
          transform: scale(0, 1);
          transform-origin: center top;
          transition: transform .3s;
         
        }
      }
      a:hover::after {
        @media screen and (min-width: $sp-width){
          transform: scale(1, 1);
        }
      }
}

// PCのメディアクエリ
