@charset "UTF-8";
/* normalize, 変数(for Sass) */
/* mixin(for Sass) */
/* ユーティリティ(color, size, spacing, etc.) */
@media screen and (min-width: 780px) {
  .pc-hide {
    display: none;
  }
}

.sp-hide {
  display: none;
}

@media screen and (min-width: 780px) {
  .sp-hide {
    display: block;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: scale(1.3);
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: scale(1);
  }
  95% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-text {
  from {
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: scale(1.2);
  }
  30% {
    opacity: 1;
    transform: scale(1.3);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes slide-btn {
  from {
    display: none;
    transform: translateY(120px);
  }
  30% {
    opacity: 0;
    display: block;
    transform: translateY(120px);
  }
  40% {
    transform: translateY(100px);
  }
  50% {
    opacity: 1;
    user-select: inherit;
  }
  to {
    opacity: 1;
  }
}

@keyframes sp-slide-btn {
  from {
    display: none;
    transform: translateY(150px);
  }
  30% {
    opacity: 0;
    display: block;
    transform: translateY(150px);
  }
  40% {
    transform: translateY(130px);
  }
  50% {
    opacity: 1;
    user-select: inherit;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg);
  }
}

/* html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  /* プロジェクトによって変動 */
  color: #000;
  line-height: 1.6;
  font-weight: 400;
  width: 100%;
  font-smoothing: antialiased;
  font-variant-numeric: tabular-nums;
  /* safari hover対策 */
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 780px) {
  body {
    min-width: 1000px;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: bottom;
  line-height: 1.0;
}

button {
  line-height: 1.0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
}

body {
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif;
}

.page-ttl {
  text-align: center;
  color: #deb887;
  font-family: 'M PLUS 1p', sans-serif;
  margin-bottom: 20px;
}

.page-ttl.page-ttl_underlay {
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif;
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 30px;
}

/* ベースの要素スタイル */
body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.l-container {
  width: 90%;
  padding: 40px 0;
  margin: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 780px) {
  .l-container {
    width: 1000px;
    padding: 60px 0;
  }
}

main {
  flex-basis: 1;
  height: auto;
}

h1, h2, h3, p, ul, ol {
  color: #deb887;
}

body.dark-mode {
  background-color: black !important;
}

body.dark-mode header, body.dark-mode footer, body.dark-mode .l-container {
  background-color: black !important;
}

body.dark-mode .article p {
  color: white !important;
}

body.dark-mode .header-config {
  background-color: transparent !important;
}

body.dark-mode .header-config_menu {
  top: 75px;
  background-color: transparent !important;
  border-bottom: none !important;
  border-left: #deb887 1px solid;
  border-right: #deb887 1px solid;
}

body.dark-mode .header-config_menu > li {
  border-bottom: #deb887 1px solid;
}

body.dark-mode header {
  border-bottom: #deb887 1px solid;
}

body.dark-mode .card, body.dark-mode .single-card {
  background-color: gray;
}

body.dark-mode .non-select {
  opacity: 0.7;
}

/* ライブラリ */
/* コンポーネント */
.article {
  margin: 0;
}

@media screen and (min-width: 780px) {
  .article {
    margin: 0 150px 100px;
  }
}

.article-body {
  color: #383838;
}

input[type="submit"], .non-wrap_btn {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-wrap {
  text-align: center;
  margin: 50px 0;
}

.btn {
  margin-bottom: 20px;
}

.btn input[type="submit"], .btn a, .btn button {
  cursor: pointer;
  border: 1px solid #deb887;
  color: #deb887;
  padding: 7px 35px;
  transition: all 0.3s;
}

.btn input[type="submit"]:hover, .btn a:hover, .btn button:hover {
  color: whitesmoke;
  background-color: #deb887;
}

.btn.sliders-btn a {
  border: 2px solid #deb887;
  display: block;
  box-sizing: border-box;
  color: #deb887;
  background: rgba(0, 0, 0, 0.4);
  font-weight: bolder;
}

.btn.sliders-btn a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  color: black !important;
  background: #deb887 !important;
  transform-origin: center center;
  transform: scale(0, 1);
  transition: transform .3s;
}

.btn.sliders-btn a:hover {
  background: transparent;
  color: whitesmoke;
}

.btn.sliders-btn a:hover::before {
  transform: scale(1, 1);
}

.cards {
  display: block;
  margin: 0 auto;
  width: clamp(300px, 50vw, 500px);
}

.cards .card {
  cursor: pointer;
  background-color: white;
  padding: 5px 15px;
  margin: 20px;
  box-shadow: 1px 1px 6px gray;
  border-radius: 5px;
  transition: all ease 0.2s;
  flex-direction: column;
}

.cards .card .card_title {
  cursor: pointer;
  align-self: flex-start;
}

.cards .card .card_posted {
  position: relative;
  top: 5px;
  left: 20px;
  display: inline-block;
  cursor: pointer;
  color: dimgray;
  opacity: 0.8;
  font-size: 0.8em;
  margin: 3px 15px;
  white-space: nowrap;
  align-self: flex-end;
}

@media screen and (min-width: 780px) {
  .cards .card .card_posted {
    position: static;
  }
}

.cards .card button[type="submit"] {
  display: block;
  width: 100%;
  color: #deb887;
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 780px) {
  .cards .card button[type="submit"] {
    flex-direction: row;
  }
}

.cards .card:hover {
  box-shadow: 4px 4px 6px gray;
  transform: scale(1.03);
}

.single-card {
  background-color: #fff;
  color: #696969;
  padding: 30px 30px;
  box-shadow: 1px 1px 6px grey;
  border-radius: 5px;
  display: block;
  width: 75%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 780px) {
  .single-card {
    width: 500px;
    font-size: large;
  }
}

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: whitesmoke;
  /* 以下のコードを追加 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

#loading .spinner {
  position: fixed;
  width: 70px;
  height: 70px;
  top: calc(50% - 70px/2);
  left: calc(50% - 70px/2);
  transform: translate(-50%, -50%);
  border: 5px solid #deb887;
  border-left-color: transparent;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.hooper {
  height: auto !important;
}

.hooper .hooper-track {
  height: auto !important;
}

.hooper .hooper-track .hooper-slide {
  opacity: 0;
  background-size: cover !important;
  height: 100vh;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

@media screen and (min-width: 780px) {
  .hooper .hooper-track .hooper-slide {
    font-size: 20px;
  }
}

.hooper .hooper-track .hooper-slide .btn {
  display: none;
  opacity: 0;
  position: absolute;
  transform: translateY(130px);
}

@media screen and (min-width: 780px) {
  .hooper .hooper-track .hooper-slide .btn {
    transform: translateY(100px);
  }
}

.hooper .hooper-track .hooper-slide.is-active {
  animation: slide 6s;
}

.hooper .hooper-track .hooper-slide.is-active h2 {
  animation: slide-text 6s;
}

.hooper .hooper-track .hooper-slide.is-active .btn {
  display: block;
  animation: sp-slide-btn 6s;
}

@media screen and (min-width: 780px) {
  .hooper .hooper-track .hooper-slide.is-active .btn {
    animation: slide-btn 6s;
  }
}

.hooper .hooper-track .hooper-slide:nth-child(1) {
  background: url(../images/common/sp-slider_01.png);
}

@media screen and (min-width: 780px) {
  .hooper .hooper-track .hooper-slide:nth-child(1) {
    background: url(../images/common/slider_01.png);
  }
}

.hooper .hooper-track .hooper-slide:nth-child(2) {
  background: url(../images/common/sp-slider_02.png);
}

@media screen and (min-width: 780px) {
  .hooper .hooper-track .hooper-slide:nth-child(2) {
    background: url(../images/common/slider_02.png);
  }
}

.hooper .hooper-track .hooper-slide h2 {
  color: black;
  transition: all ease 6s;
  user-select: none;
  word-break: normal;
  text-align: center;
  margin-bottom: 20px;
}

/* 共通レイアウト(header, footer, etc.) */
.admin_nav {
  position: fixed;
  color: #deb887;
  margin: 3vh;
}

@media screen and (min-width: 780px) {
  .admin_nav {
    top: 20px;
    left: 5vw;
  }
}

.admin_nav .l-container {
  display: block;
  margin: 0 auto;
}

.admin_nav .nav_list {
  width: 80px;
  display: flex;
  flex-direction: column;
}

.admin_nav .nav_list .menu-1 {
  cursor: pointer;
  transition: all ease 0.3s;
  border-bottom: 1px solid #deb887;
}

.admin_nav .nav_list .menu-1 .nav_list-2 {
  display: none;
  opacity: 0;
  flex-direction: column;
  font-size: 14px;
  margin-left: 10px;
}

.admin_nav .nav_list .menu-1 .nav_list-2 li {
  border-bottom: 1px dotted #deb887;
  margin-bottom: 10px;
}

.admin_nav .nav_list .menu-1 .nav_list-2 li a {
  padding: 10px;
  color: dimgray;
}

.admin_nav .nav_list .menu-1:hover {
  color: whitesmoke;
  background-color: tan;
  border-color: #deb887;
}

.admin_nav .nav_list .menu-1:hover .nav_list-2 {
  display: flex;
  transition: all ease 0.3s;
  opacity: 1;
  position: absolute;
  transform: translate(70px, -25px);
  padding-left: 10px;
  color: #deb887;
  background-color: tan;
}

.admin_nav .nav_list .menu-1:hover .nav_list-2 a:hover {
  color: #fff;
}

.article_form__wapper {
  margin-top: 50px;
}

.article_form__wapper input[type="text"], .article_form__wapper textarea {
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif;
  font-weight: 400;
  width: 60vw;
  font-size: 16px;
  border: none;
  background-color: white;
  border-radius: 5px;
  transition: all ease .2s;
}

.article_form__wapper input[type="text"]:focus, .article_form__wapper textarea:focus {
  outline: #deb887 auto 1px;
}

.article_form__wapper input[type="text"]::placeholder, .article_form__wapper textarea::placeholder {
  color: lightgray;
}

.article_form__wapper input[type="text"] {
  color: #deb887;
  height: 50px;
  font-size: 20px;
  border-bottom: 2px solid lightgray;
}

.article_form__wapper textarea {
  padding: 10px;
  height: 70vh;
  box-sizing: border-box;
  line-height: 1.6;
  color: #383838;
}

footer {
  height: 50px;
  border-top: #deb887 2px solid;
  margin-top: 60px;
  text-align: center;
  background-color: white;
}

footer p {
  font-weight: bold;
  line-height: 50px;
  color: #deb887;
  font-size: 0.8em;
}

@media screen and (min-width: 780px) {
  footer p {
    font-size: 1em;
  }
}

header {
  background-color: white;
}

header#top {
  z-index: 1;
}

@media screen and (min-width: 780px) {
  header#top {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    height: 74px;
  }
}

@media screen and (min-width: 780px) {
  header#top .l-container {
    position: relative;
    top: 0;
    background-color: transparent;
  }
}

header .config-menus_sp {
  opacity: 0;
  transition: opacity ease 1.3s;
}

header input[type="checkbox"] {
  position: fixed;
  top: -50vw;
}

header input[type="checkbox"]:checked ~ .l-container {
  position: fixed;
  top: 0;
}

@media screen and (min-width: 780px) {
  header input[type="checkbox"]:checked ~ .l-container {
    position: static;
  }
}

header input[type="checkbox"]:checked ~ .l-container .menu {
  left: 0 !important;
  right: 0 !important;
}

header input[type="checkbox"]:checked ~ .l-container .config-menus_sp {
  opacity: 1;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header input[type="checkbox"]:checked ~ .l-container .config-menus_sp .fa-moon {
  color: #deb887;
  font-size: 35px;
}

header input[type="checkbox"]:checked ~ .humberger span:first-child {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}

header input[type="checkbox"]:checked ~ .humberger span:nth-child(2) {
  opacity: 0;
}

header input[type="checkbox"]:checked ~ .humberger span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}

header .humberger {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}

@media screen and (min-width: 780px) {
  header .humberger {
    display: none;
  }
}

header .humberger span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #deb887;
  border-radius: 4px;
  transition: all .5s;
}

header .humberger span:first-child {
  top: 4px;
}

header .humberger span:nth-child(2) {
  top: 14px;
}

header .humberger span:nth-child(3) {
  bottom: 4px;
}

header .l-container {
  height: 100%;
  display: flex;
  position: absolute;
  top: -100vh;
  padding: 0 5%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all ease .2s;
}

@media screen and (min-width: 780px) {
  header .l-container {
    height: auto;
    background: transparent;
    position: inherit;
    flex-direction: row;
    left: 0;
  }
}

header .l-container .menus {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 780px) {
  header .l-container .menus {
    align-items: center;
    flex-direction: row;
  }
}

header .l-container .menus .menu {
  margin: 10px 0;
  position: relative;
  transition: all ease .3s .2s;
}

header .l-container .menus .menu a {
  display: inline-block;
}

@media screen and (min-width: 780px) {
  header .l-container .menus .menu a {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
}

@media screen and (min-width: 780px) {
  header .l-container .menus .menu a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #deb887;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
  }
}

@media screen and (min-width: 780px) {
  header .l-container .menus .menu a:hover::after {
    transform: scale(1, 1);
  }
}

header .l-container .menus .menu:nth-child(even) {
  left: -100vw;
}

header .l-container .menus .menu:nth-child(odd) {
  left: 200vw;
}

@media screen and (min-width: 780px) {
  header .l-container .menus .menu {
    left: 0 !important;
    right: 0 !important;
    display: block;
    flex-basis: 200px;
    padding: 5px 20px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 780px) {
  header .l-container .menus .menu {
    padding-bottom: 10px;
  }
}

header .l-container .menus .menu a {
  text-align: center;
  font-weight: bold;
  color: #deb887;
  font-size: 16px;
  display: block;
  white-space: nowrap;
  width: 100%;
}

@media screen and (min-width: 780px) {
  header .l-container .menus .menu a {
    width: 100px;
  }
}

header .l-container .menus .menu a span {
  font-size: 12px;
  font-weight: normal;
  display: block;
  text-align: center;
}

header .l-container .menus .menu a span::before {
  content: "-";
}

header .l-container .menus .menu a span::after {
  content: "-";
}

header .l-container .header-left {
  margin-top: 40px;
  width: 100%;
}

@media screen and (min-width: 780px) {
  header .l-container .header-left {
    width: auto;
    margin-top: 0;
  }
}

@media screen and (min-width: 780px) {
  header .l-container .header-left .menu {
    border-left: solid 1px #deb887;
  }
}

@media screen and (max-width: 780px) {
  header .l-container .header-left .menu {
    border-bottom: solid 1px #deb887;
  }
}

header .l-container .header-logo {
  display: none;
}

@media screen and (min-width: 780px) {
  header .l-container .header-logo {
    width: 100px;
    display: block;
  }
}

header .l-container .header-logo img {
  display: block;
  margin: auto;
  width: 60%;
}

header .l-container .header-right {
  width: 100%;
}

@media screen and (min-width: 780px) {
  header .l-container .header-right {
    width: auto;
  }
}

@media screen and (min-width: 780px) {
  header .l-container .header-right .menu {
    border-right: solid 1px #deb887;
  }
}

@media screen and (max-width: 780px) {
  header .l-container .header-right .menu {
    border-bottom: solid 1px #deb887;
  }
  header .l-container .header-right .menu:last-child {
    border-bottom: none;
  }
}

header .header-config {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  transition: all ease .3s;
}

@media screen and (min-width: 780px) {
  header .header-config {
    display: flex;
  }
}

header .header-config label {
  margin: 6px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1;
  cursor: pointer;
}

header .header-config label span::before {
  content: '・';
  color: #deb887;
  font-size: 15px;
  font-weight: bold;
}

header .header-config_menu {
  display: none;
  position: fixed;
  top: 73px;
  right: 0;
  transition: all ease .8s;
}

header .header-config_menu button {
  padding: 0 80px;
  color: #deb887;
}

header input:checked ~ .header-config_menu {
  display: none;
  border: 1px solid #deb887;
}

@media screen and (min-width: 780px) {
  header input:checked ~ .header-config_menu {
    display: flex;
  }
}

header input:checked ~ .header-config {
  border: 1px solid #deb887;
  border-bottom: none;
}

/* ページごとのスタイル */
.edit .edit_list {
  display: block;
  width: clamp(400px, 50vw, 800px);
  margin: 0 auto;
}

.edit .edit_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.edit .edit_list li .edit-btns {
  display: flex;
  margin-left: 20px;
}

.edit .edit_list li .edit-btns form:first-child {
  margin-right: 20px;
}

.edit .edit_list li .btn {
  margin-bottom: 0;
}

.p-admin-login {
  background-color: whitesmoke;
  height: 100vh;
}

.p-admin-login .admin-form_wrapper {
  border: #deb887 1px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 30px;
  min-width: 300px;
  width: 30%;
}

.p-admin-login .admin-form_wrapper .admin-form {
  text-align: center;
}

.p-admin-login .admin-form_wrapper .admin-form input[type="text"], .p-admin-login .admin-form_wrapper .admin-form input[type="password"] {
  margin-bottom: 20px;
  background-color: #646464;
}

.p-admin-login .admin-form_wrapper .admin-form input[type="text"]:focus, .p-admin-login .admin-form_wrapper .admin-form input[type="password"]:focus {
  outline: #deb887 1px solid;
}

.admin footer {
  margin-top: 91vh;
}

.create .create_form__wrapper .create_form {
  text-align: center;
}

.novel .sp-control-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 780px) {
  .novel .sp-control-btns {
    display: none;
  }
}

.novel .sp-control-btns .btn button, .novel .sp-control-btns .btn a {
  font-size: 16px;
  padding: 7px 15px;
  margin: 0 10px;
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", sans-serif;
}

.novel .control-btns {
  justify-content: center;
  align-items: center;
  display: none;
}

@media screen and (min-width: 780px) {
  .novel .control-btns {
    display: flex;
  }
}

.novel .control-btns a, .novel .control-btns input {
  display: inline-block;
  margin: 20px;
  font-size: 14px;
  opacity: 1;
}

.novel .non-select input, .novel .non-select button {
  pointer-events: none;
  cursor: auto;
  user-select: none;
  border: solid 1px lightgray;
  color: lightgray;
}

.novel .non-select input:hover, .novel .non-select button:hover {
  color: lightgray;
  background-color: transparent;
}
